
.vending-machine {
  background-image: url('img.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.vending-machine-greeting, .vendingMachine-items {
  width: 18%;
  font-size: 40px;
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  background-color: blanchedalmond;
  border-radius: 15px;
  padding: 10px;
}

.vending-machine-items a {
  text-decoration: none;
  display: block;
  font-size: 3rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:hover {
  text-shadow: 1px 1px 5px purple;
}
