:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #000000;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.color-table-column {
  margin-top: 500px; /* Adjust the value as needed */
}


.home-button {
  display: inline-block;
  background-color: #002C5B;
  margin-top: 46.59px;
}

.footer-spacing{
  margin-bottom: 100px;
}

.no-margin-padding {
  margin: 0;
  padding: 0;
}

.responsive-text {
  margin: 0;
  padding: 0;
}


.input-small {
  width: 500px; /* Adjust the width as needed */
}


.custom-button.no-bottom-padding {
  margin-bottom: 0;
}

.button-container {
  margin-bottom: 40px; /* Adjust the margin value as needed */
}


.upload-button-container {
  text-align: left; /* Override global text-center style */
}

.upload-button-container .btn {
  margin-right: 0px; /* Add margin between buttons */
}

.uploaded-image {
  width: 100%; /* Set the width of the uploaded image to 100% */
  max-width: 100%; /* Ensure the image does not exceed its container width */
}

.home-page-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align content at the top */
  height: 100%;
  
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align text at the top */
}

.text-left {
  text-align: left;
}

.home-page-content {
  margin-top: auto; /* Align the home page content at the top */
}

.color-text {
  margin-top: 0; /* Remove top margin */
  margin-bottom: 20px; /* Add bottom margin */
}




/* Adjust the margin between the login icon and nav links */
.navbar {
  padding: 20px 20px; 
  background-color: #fff; /* Set your desired background color */
}

.navbar-brand img {
  margin-right: 10px;
}

/* Navbar link styles */
.navbar-nav {
  margin: 0; /* Remove margin from navbar items */
}

.navbar-nav .nav-link {
  color: #000; /* Set your desired color */
  margin: 0; /* Remove margin from navbar links */
}

.navbar-nav .nav-link:hover {
  color: #007bff; /* Set your desired hover color */
}




.navbar-collapse.show .nav-link {
  display: block; /* Ensure nav links are displayed as blocks */
  text-align: left; /* Align nav links to the left */
}





.dropdown-menu .nav-link{
  background-color: #fff; /* Set your desired background color */
  border: 1px solid #ddd; /* Set your desired border color */
  
  margin-left: 0px;
}





.footer {
  position: fixed;
  background-color: #f8f9fa; /* Bootstrap light gray background color */
  padding: 20px 0;
  text-align: center;
  width: 100%; /* Make the footer span the entire width */
  bottom: 0; /* Position the footer at the bottom of the viewport */
  left: 0; /* Align the footer to the left */
  z-index: 999; /* Ensure footer is above other elements */
  display: flex; /* Use flexbox for layout */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */

}

.footer .container {
  text-align: center; /* Center align text content */
}

.footer .social-icons {
  margin-top: 0; /* Remove margin top */
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center content vertically */
}

.footer .social-icons a {
  margin-right: 10px; /* Adjust margin between icons */
}




.footer .container {
  display: flex; /* Use flexbox for horizontal alignment */
  justify-content: center; /* Center align the content horizontally */
  align-items: center; /* Center align the content vertically */
  
}

.footer .social-icons {
  margin-top: 10px; /* Remove the top margin */
  margin-bottom: 10px;
}

.footer .social-icons a {
  margin-bottom: 20px;
  margin-right: 20px;
}

.color-text {
  text-align: left;
  margin-bottom: 75px;
}

.color-tile {
  background-color: #ffffff;
  width: 50px;
  height: 50px;
  margin-right: 50px;
  border: 1px solid black; /* Add border */
  padding: 20px;
}

td,
th {
  border: 1px solid black; /* Add border */
  background-color: #ffffff;
  padding: 20px;
}

.table-container {
  display: flex;
  justify-content: center; /* Horizontally center content */
 
}

.color-table-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 100px;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.custom-header {
  margin-top: 0; /* Remove default top margin */
  margin-bottom: 20px; /* Add bottom margin to align with paragraph */
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.img {
  height: auto;
  display: block; /* To remove extra space below inline images */
  margin: 0 auto; /* To center the image horizontally */
}

h1 {
  font-size: 80px; /* Unified font size for h1 and h3 */
  line-height: 1.1;
  margin-top: 80px;
  margin-bottom: 80px;
  color: #000000;
  text-align: center; /* Increase the margin-top to create more space */
}

h2 {
  font-size: 60px; /* Unified font size for h1 and h3 */
  line-height: 1.1;
  margin-top: 0px;
  margin-bottom: 40px;
  color: #000000;
  text-align: left; /* Increase the margin-top to create more space */
  margin-right: 0px;
}

h3 {
  font-size: 24px; /* Unified font size for h1 and h3 */
  line-height: 1.1;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #000000;
  text-align: left; /* Increase the margin-top to create more space */
}

#galacticCenterContent {
  padding: 0;
  margin: 0;
}

.row.align-items-start {
  height: auto;
  max-height: 100%;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: 0px; /* Adjust this value as needed */
  max-width: 100%;
}

.galactic-center-container {
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: 600px;
  background-color:#fff
}

.img-fluid {
  width: auto; /* Let the browser calculate the width to maintain aspect ratio */
  height: auto; /* Let the browser calculate the height to maintain aspect ratio */
  max-width: 400px; /* Set the maximum width of the image */
  max-height: 400px; /* Set the maximum height of the image */
  display: block; /* Ensure proper rendering */
  margin: 0; /* Set margin to 0 */
}

.text-left{
  text-align: left;
}

.text-center {
  margin-right: auto;
  margin-left: auto;
  
}

/* Add this media query to your existing CSS */

@media (min-width: 981px) {
  .navbar-nav {
    margin-left: auto !important; /* Important to override the ml-auto class */
  }
}

@media (min-width: 767px) {
 .text-left {
margin-bottom: 50px;
}
}

@media (max-width: 767px) {
  h1 {
    font-size: 50px; /* Smaller font size for mobile devices */
  }
  h2 {
    font-size: 40px; /* Smaller font size for mobile devices */
  }
  .color-table-column {
    margin-top: 40px; /* Adjust the value as needed */
  }
  .color-table-container {

    margin-bottom: 200px;
  }
  .img-fluid {
    max-width: 100%; /* Set the maximum width of the image to 100% */
    height: auto; /* Let the browser calculate the height to maintain aspect ratio */
    display: block; /* Ensure proper rendering */
    margin: 0 auto; /* Center the image horizontally */
    max-height: 200px; /* Set the maximum height of the image */
    overflow-x: hidden; /* Hide horizontal overflow */
  }
  .image-container-home img {
    
    object-fit: cover;
    width: 100%;
    height: auto;
    max-width: 100%; /* Ensure the image does not exceed its container width */
    max-height: 100%; /* Ensure the image does not exceed its container height */
    object-fit: contain;
  }
  td,
  th {
    font-size: 12px; /* Adjust the font size as needed */
  }

  /* Reduce padding to make the table more compact */
  .table-container table {
    padding: 5px; /* Adjust padding as needed */
  }
  .color-table-container {
    overflow-x: auto; /* Enable horizontal scrolling if necessary */
    max-width: 100%;  /* Ensure the table container spans the full width */
  }

  .color-table-container table {
    width: 100%; /* Make the table span the full width of its container */
    max-width: unset; /* Remove any maximum width constraints */
  }

  .color-table-container th,
  .color-table-container td {
    padding: 8px; /* Adjust cell padding as needed */
    font-size: 14px; /* Adjust font size as needed */
    /* Add any other necessary styling adjustments */
  }
  .navbar {
    display: flex;
    justify-content: space-between; /* Align logo and hamburger icon at opposite ends */
    align-items: center; /* Center vertically */
  }

  .navbar-brand {
    order: 1; /* Move the logo to the left */
  }

  .navbar-toggler {
    order: 2; /* Move the hamburger icon to the right */
  }

  .navbar-collapse {
    order: 3; /* Ensure the menu items come after the hamburger icon */
  }
}
.col-md-6 {
  max-width: 100%; /* Ensure the column takes up full width on mobile */
}

.form-control {
  max-width: 100%; /* Ensure form inputs take up full width on mobile */
}














